*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#topper{
  position: fixed;
  padding-top: 0px;
  z-index: 100;
  padding: 20px;
  width: 100%;
}
.fab{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: blue;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.links{
  font-size: 20px;
  opacity: 1;
  z-index: 99px;
}
h3.lead{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #000;
  font-family: 'Scheherazade', serif;
}
.img{
  background-image: url("/home/charles/docs/Documents/projects/a-hotel-project/images/apartment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
#centerh1{
  text-align: center;
  padding: 20px;
  font-family: 'Scheherazade', serif;
  font-weight: bold;
}
/*-- special --*/
.special {
    background: #ebfdfb;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0);
    padding: 30px;
}
.special-grids .special-img {
	overflow: hidden;
	position: relative;
	display: block;
}
.wthree-special-info h4 {
    color: #FFFFFF;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.captn p {
    font-size: .9em;
    margin-top: 1em;
	color:#fff;
	line-height:1.8em;
}
.special-grids .captn {
	display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.captn-top {
    padding: 16% 10%;
}
.special-img:hover .captn {
	width: 100%;
	top: 0%;
}
img.img-responsive {
    width: 100%;
}
.special .wthree-special-info{
    background: rgb(219, 89, 52);
    padding: 1em;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    transition: 1s all;
}
.special-img:hover .wthree-special-info {
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
.w3-agile-special:nth-child(2){
	margin:2em 0 0 0;
}
.agileinfo-heading{
  text-align:center;
  font-family: 'Scheherazade', serif;
}
h3#lobster{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
/*-- //special --*/
.heading-box h2{ width:100%; color: red; }
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}
.img{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2.cc,p.cc{
  text-shadow: 0px 0px 6px 0px;
}
p.cc{
  font-size: 20px;
}
h2{
  text-align:center;
  padding: 20px;
}
/* Slider */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
#head{
  text-align: center;
  font-family: 'Scheherazade', serif;
}
#para{
  text-align: center;
  padding-bottom: 20px;
}
