@import url('https://fonts.googleapis.com/css?family=Cookie');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media(min-width:320px) and (max-width:480px){
  .carousel-item{
    width: 100%;
    height: 50vh;
  }
  #centerh1{
    font-size: 25px;
    font-weight: lighter;
  }
  .info{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Damion', cursive;
    font-size: 18px;
  }
  #lobster{
    font-size: 23px;
  }
      .special-img{
        border: none;
        height:180px;
        padding-top: none;
      }
      .day{
        height: 26vh;
      }
      .siz{
        height: 50vh;
      }
      .bit{
        font-size: 14px;
        font-weight: bolder;
        color: blue;
        margin-top: -300px;
      }
      #beat{
        font-size: 14px;
        color: yellow;
      }
      .up{
        height: 50vh;
        width: 100%;
      }
      .jose{
        height: 50vh;
      }
      h1#cod{
        font-size: 25px;
        padding-bottom: 10px;
      }
      .kr{
        padding: 10px;
      }
}
h1#cod{
  font-size: 30px;
}
 #topper{
  position: fixed;
  padding-top: 0px;
  z-index: 100;
  padding: 20px;
  width: 100%;
}
.fab{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: blue;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.links{
  font-size: 20px;
  opacity: 1;
  z-index: 99px;
}
h3.lead{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #000;
  font-family: 'Scheherazade', serif;
}
.lazii{
  background-image: url("../images/apartment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}
#centerh1{
  text-align: center;
  padding: 20px;
  font-family: 'Scheherazade', serif;
  font-weight: bold;
}
/*-- special --*/
.special {
    background: #ebfdfb;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0);
    padding: 30px;
}
.special-grids .special-img {
	overflow: hidden;
	position: relative;
	display: block;
}
.wthree-special-info h4 {
    color: #FFFFFF;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.captn p {
    font-size: .9em;
    margin-top: 1em;
	color:#fff;
	line-height:1.8em;
}
.special-grids .captn {
	display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.captn-top {
    padding: 16% 10%;
}
.special-img:hover .captn {
	width: 100%;
	top: 0%;
}
img.img-responsive {
    width: 100%;
}
.special .wthree-special-info{
    background: rgb(219, 89, 52);
    padding: 1em;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    transition: 1s all;
}
.special-img:hover .wthree-special-info {
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
.w3-agile-special:nth-child(2){
	margin:2em 0 0 0;
}
.agileinfo-heading{
  text-align:center;
  font-family: 'Scheherazade', serif;
}
h3#lobster{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
/*-- //special --*/
.heading-box h2{ width:100%; color: red; }
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}
.img{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2.cc,p.cc{
  text-shadow: 0px 0px 6px 0px;
}
p.cc{
  font-size: 20px;
}
h2{
  text-align:center;
  padding: 20px;
}
/* Slider */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
#head{
  text-align: center;
  font-family: 'Scheherazade', serif;
  font-size: 2em;
}
#para{
  text-align: center;
  padding-bottom: 20px;
}
.newsletter {
padding: 80px 0;
background-image: url("../images/s24.jpg");
}

.newsletter .content {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.newsletter .content h2 {
color: #243c4f;
margin-bottom: 40px; }
.newsletter .content .form-control {
height: 50px;
border-color: #ffffff;
border-radius:0;
}
.newsletter .content.form-control:focus {
box-shadow: none;
border: 2px solid #243c4f;
}
.newsletter .content .btn {
min-height: 50px;
border-radius:0;
background: #243c4f;
color: #fff;
font-weight:600;
}
.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}
.test {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
  margin: 30px;
  background-image: url("../images/s23.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media(min-width: 320px) and (max-width: 480px){
  .test{
    height: 70vh;
    margin: 0px;
    font-family: 'Cookie', cursive;
  }
  .circle, .fas{
    color: #008000;
  }
}
.test .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	animation: animate 10s linear infinite;
}
.test .slider .slide {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}
.test .slider .slide .caption {
	position: absolute;
	bottom: 60px;
	right: 60px;
	left: 60px;
	padding: 30px;
	box-sizing:border-box;
	transition: 0.5s;
}
.test .slider .slide .caption h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 48px;
	transition: 0.5s;
}
.test .slider .slide .caption p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}
.test .slider .slide.slide1 {
	background: url(https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg);
	background-size: cover;
	background-position: center;
}
.test .slider .slide.slide2 {
	background: url(https://www.planwallpaper.com/static/images/963840d34c51efe6fbe57749fb434646.jpg);
	background-size: cover;
	background-position: center;
}
.test .slider .slide.slide3 {
	background: url(https://www.planwallpaper.com/static/images/HD-Wallpapers-B1.jpg);
	background-size: cover;
	background-position: center;
}
.test .slider .slide.slide4 {
	background: url(https://www.planwallpaper.com/static/images/beach-cool-wallpaper-hd_1_tKvqLtf.jpg);
	background-size: cover;
	background-position: center;
}
.circle .fas{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-left: 45%;
  color: #800000;
}
#boza{
  font-size: 2em;
  padding: 20px;
}
.para{
  text-align: center;
  color: brown;
  font-weight: bolder;
}
.header{
  color: #000;
  font-weight: bolder;
  margin: 10px;
  text-align: center;
  background-attachment: fixed;
}


@keyframes animate {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}



@media screen and (max-width: 768px) {
	.test .slider .slide .caption {
		bottom: 20px;
		right: 20px;
		left: 20px;
		padding: 20px;
	}
	.test .slider .slide .caption h2 {
		margin: 0 0 10px;
		font-size: 30px;
	}
	.test .slider .slide .caption p {
		font-size: 16px;
	}
}
@import url(http://fonts.googleapis.com/css?family=Anaheim);

h1{
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
}
.helly{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
@media(min-width: 320px) and (max-width: 480px){
  #carousel figure{
    width: 100%;
  }
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 50%px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.sas{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
.sas:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 30px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.title{
  font-size: 2em;
}
.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
@media(min-width: 320px) and (max-width: 480px){
  .contact-form .form-field .input-text{
    width: 90%;
  }
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

h6
{
    font-size:1.5rem;
    text-decoration: underline;
}
@media(min-width: 320px) and (max-width: 480px){
  #links{
    float: left;
    display: block;
  }
}
.centerit{
  margin: 0 auto;
}
.bruh{
  font-weight: bold;
  color: #000;
}
@media(min-width: 320px) and (max-width: 480px){
  .joy{
    margin-top: -150px;
  }
}
.format, .format, .format{
  text-decoration: none;
}
